extends layout

block content
    canvas(id='glCanvas', width='0', height='0')
    script(src='/javascripts/jquery-3.3.1.js')
    script(src='/javascripts/linear-algebra.min.js')
    script(src='/javascripts/Triangle.js')
    script(src='/javascripts/GraphicsApp.js')
    script(src='/javascripts/main.js')